<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">

    <br>
    <br>

  <h2>Edit your Listing</h2>
  <form
   method="post"
   action="/listings/<%= listing._id %>?_method=PUT"
   novalidate
   class="needs-validation" >

    <div>
      <label for="title" class="form-lable">Title</label>
      <input type="text"
       name="listing[title]"
       value="<%= listing.title %>"
       class="form-control"
       required>
       <div class="valid-feedback">Title looks good!</div>
    </div>
    
  <br>

    <div>
      <label for="description" class="form-lable">Description</label>
      <textarea name="listing[description]"
       cols="10" rows="5"
       class="form-control"
       required>
       <%= listing.description %>
      </textarea>
      <div class="invalid-feedback">Enter a short description</div>
    </div>

  <br>  

    <div>
      <label for="image" class="form-lable">Image Link</label>  
      <input type="text"
       name="listing[image]"
       value="<%= listing.image %>"
       class="form-control"
       required>
       <div class="invalid-feedback">Enter a valid link for image</div>
    </div>
    
  <br>

  <div class="row">

    <div class="col-md-4">
      <label for="price" class="form-lable">Price</label>
      <input type="number"
       name="listing[price]"
       value="<%= listing.price %>"
       class="form-control" 
       required>
       <div class="invalid-feedback">Price should be valid</div>
    </div>
    
  <br>

    <div class="col-md-8">
      <label for="country" class="form-lable">Country</label>
      <input type="text"
       value="<%= listing.country %>"
       name="listing[country]"
       class="form-control"
       required>
       <div class="invalid-feedback">Country name should be valid</div>
    </div>

  </div>
    
  <br>

    <div>
      <label for="location" class="form-lable">Location</label>
      <input type="text"
       value="<%= listing.location %>"
       name="listing[location]"
       class="form-control"
       required>  
       <div class="invalid-feedback">Location should be valid</div>  
    </div>
    
  <br>

    <button class="btn add-btn">Edit</button>

  <br>  
  </form>

  </div>
  </div>  
  <script src="/js/script.js"></script>

