<% layout("/layouts/boilerplate") %>
<body>
  <h2>All Listings</h2>

<div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
   <% for(let listing of allListings) { %>
    <a href="/listings/<%= listing._id %>" class="listing-link">
  <div class="card col listing-card">
    <img
     src="<%= listing.image %>" 
     class="card-img-top"
     alt="listing_img"
     style="height: 20rem"
    />

     <div class="card-img-overlay"><%= listing.description  %>  </div>

    <div class="card-body">
      <p class="card-text">
      <b>  <%= listing.title %> </b>
        <br>
     <b>  Rs. <%= listing.price %> /night </b>
      </p>
    </div>
  </div>
</a>
  <% } %>
</div>
 

</div>
 
</body>
