<% layout("/layouts/boilerplate") %>
<br>
<br>

<div class="row">
  <div class="col-8 offset-3">

  <h2>Listing Details: </h2>
</div>  

  <div class="card col-6 offset-3 show-card">
    <img src="<%= listing.image %>"
     class="card-img-top show-img"
     alt="Listing Image">

  <div class="card-body">
    <br>
    <p class="card-text"> <b><%= listing.title  %></b></p>
    <ul>
      <%= listing.description  %>
      <br>
       <b>&#8377;<%= listing.price  %></b> 
       <br>
       <b> <%= listing.location  %></b>
      <br>
       <b> <%= listing.country  %></b>
    </ul>
  </div>

<div class="btns">
  <a
   href="/listings/<%= listing._id %>/edit"
   class="btn add-btn">
   Edit Listing</a>


  <form action="/listings/<%=listing._id%>?_method=DELETE" method="post">
    <button class="btn btn-dark">Delete Listing</button>
  </form>
</div>
</div>



